
button{
	background-color:#ff3860;
    color:white;
    border:none;
    padding:10px 15px 10px 15px;
    margin-left:20px;

}

nav.dropdown{
	li{
		visibility:hidden;
	}
    ul{
        transition-at-ease:250ms;
        visibility:hidden !important;
        background-color:#ff3860;
        border:none;
        padding:10px 15px 10px 15px;
        margin-left:20px;
    }
    a{
        color:white;
    }
}
nav.dropdown:hover{
	li{
		visibility: visible;
	}
}

