#late-image {
  max-width: 400px; }

button {
  background-color: #ff3860;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-left: 20px; }

nav.dropdown ul {
  transition-at-ease: 250ms;
  visibility: hidden !important;
  background-color: #ff3860;
  border: none;
  padding: 10px 15px 10px 15px;
  margin-left: 20px; }

nav.dropdown a {
  color: white; }

nav.dropdown:hover ul {
  visibility: visible !important; }

#needToShow {
  visibility: visible important; }

